.DS_Store
.venv/
node_modules/
.vite/
*.tsbuildinfo
__pycache__/
*.pyc
.pytest_cache/
dist/
build/
!examples/platypus/build/
!examples/platypus/build/**
!examples/chimpanzee/build/
!examples/chimpanzee/build/**
!examples/elephant/build/
!examples/elephant/build/**
!examples/tiger/build/
!examples/tiger/build/**
!examples/coyote/build/
!examples/coyote/build/**
*.egg-info/
